
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>System Manage</title>

    <link href="/www/contents/template/lib/Ionicons/css/ionicons.css" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="/www/contents/template/css/bracket.css">
  </head>

  <body>

    <div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v" id="scope-login">

      <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-white rounded shadow-base">
        <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal">[</span> System <span class="tx-info">manage</span> <span class="tx-normal">]</span></div>
        <div class="tx-center mg-b-30">시스템 관리자만 이용 가능합니다.</div>
        <div class="tx-center mg-b-20 tx-danger">&nbsp;{{message}}&nbsp;</div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="아이디 입력" v-model="detailUser.user_id">
        </div><!-- form-group -->
        <div class="form-group">
          <input type="password" class="form-control" placeholder="비밀번호 입력" id="pwd"  v-model="detailUser.user_pwd">
        </div><!-- form-group -->
        <button type="button"  class="btn btn-info btn-block" v-on:click="fnOnClickBtnLogin">Sign In</button>
      </div><!-- login-wrapper -->
    </div><!-- d-flex -->

    <script src="/www/contents/template/lib/jquery/jquery.js"></script>
    <script src="/www/contents/template/lib/bootstrap/js/bootstrap.js"></script>
    <script src="/www/bim-front/js/components/login-controller.min.js"></script>
  </body>
</html>
